html {position: relative; margin: 0; padding: 0; background-image: url('bg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent}
body {margin: 0; padding: 0; text-align: left;}
#imPage {padding-top: 55px; margin: 0px auto 0px auto; width: 1035px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent}
#imHeader {height: 331px; background-color: transparent; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 0; left: 0;  height: 50px; width: 935px; padding: 0px 50px 5px 50px; background-image: url('menu.jpg'); background-position: left top; background-repeat: repeat-y; background-attachment: scroll; background-color: transparent}
#imMnMn > ul { text-align: left; }
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 915px; padding: 5px 60px 5px 60px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 386px; bottom: 495px; left: 0; width: 1035px; background-image: url('content.jpg'); background-position: left top; background-repeat: repeat-y; background-attachment: scroll; background-color: transparent}
#imFooterBg {position: absolute; left: 0; bottom: 0; height: 90px; width: 100%; background-color: transparent}
#imFooter {position: relative; margin: 0 auto; height: 495px; width: 1035px; background-color: transparent; background-image: url('bottom.png'); background-position: top left; background-repeat: no-repeat;}
